/* Styles for the Carousel with the custom-carousel class */
.custom-carousel .carousel-item img {
    max-height: 100vh;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* For screens with width less than 768px (smaller devices) */
  @media (max-width: 767px) {
    .custom-carousel .carousel-item img {
      max-height: 50vh;
    }
  }
  