/* Add this CSS to your stylesheet */
.row-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .row-item {
    flex-shrink: 0;
    position: relative;
    margin: 10px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .row-item:hover {
    z-index: 1;
    transform: scale(1.2);
  }
  
  .row-item:not(:hover) {
    opacity: 0.5;
  }
  
  /* Add this if you want a smooth scroll */
  /* Uncomment it if you want to use smooth scrolling */
  /* .row-container {
    scroll-behavior: smooth;
  } */

 /* Define a class to reduce opacity */
.card-hover {
  transition: transform 0.3s ease, opacity 0.3s ease !important;
}

/* When hovering over the card, reduce the opacity and scale */
.card-hover:hover {
  transform: scale(1.02); /* Adjust as needed */
}


  