/* Add this CSS to your stylesheet */
.row-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .row-item {
    flex-shrink: 0;
    position: relative;
    margin: 10px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .row-item:hover {
    z-index: 1;
    transform: scale(1.2);
  }
  
  .row-item:not(:hover) {
    opacity: 0.5;
  }
  
  /* Add this if you want a smooth scroll */
  /* Uncomment it if you want to use smooth scrolling */
  /* .row-container {
    scroll-behavior: smooth;
  } */

 /* Define a class to reduce opacity */
.card-hover {
  transition: transform 0.3s ease, opacity 0.3s ease !important;
}

/* When hovering over the card, reduce the opacity and scale */
.card-hover:hover {
  transform: scale(1.02); /* Adjust as needed */
}



.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 0; 
  min-height: 310px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Landing page scroll */
.scroll-button {
  background-color: #735EAB;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-button.left {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  z-index: 10;
}

.scroll-button.right {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  z-index: 10;
}

.scroll-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .scroll-button.left {
    left: 0;
  }

  .scroll-button.right {
    right: 0;
  }
}
