.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px; 
    overflow: hidden; 
    transition: box-shadow 0.3s;
    cursor: pointer;
  }

  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: left;
  }
  
  .custom-table.dark-mode {
    background-color: black;
    color: white;
  }
  .custom-table.dark-mode:hover {
    border-color: #36454F
  }

  .custom-table.dark-mode th {
    background-color: #838181;
  }
  
  .custom-table.dark-mode tr:nth-child(even) {
    background-color: #444;
  }

  .custom-table.dark-mode tr:nth-child(odd) {
    background-color: #212121;
  }


  .custom-table.dark-mode tr:nth-child(even):hover  {
    background-color: #36454F;
  }

  .custom-table.dark-mode tr:nth-child(odd):hover  {
    background-color: #36454F;
  } 
  
  .custom-table.dark-mode th,
  .custom-table.dark-mode td {
    border-color: #666;
  }
  
  /* Adding hover effect */
  .custom-table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }


.horizontal-scroll-wrapper-table {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 0; 
  height: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.horizontal-scroll-wrapper-table::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-btn-cell:hover {
  background-color: #f1c8c8 !important;
}

