/* TableView.css */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px; /* Adding border radius */
    overflow: hidden; /* Ensure rounded corners are visible */
    /* Add common table styles here */
    transition: box-shadow 0.3s; /* Add transition for smoother effect */
    cursor: pointer;
  }
  
  .custom-table:hover {
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.2), 0 0 1em rgba(91, 91, 84, 0.7);
    /* Adjust the box-shadow values to match your desired glow effect */
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .custom-table.dark-mode {
    /* Dark mode styles */
    background-color: black;
    color: white;
    /* Modify styles as per your dark mode requirements */
  }
  .custom-table.dark-mode:hover {
    box-shadow: 0 1.5em 3em 0 whitesmoke, 0 0 1em rgba(255, 255, 0, 0.7);
    border-color: #36454F
  }

  .custom-table.dark-mode th {
    background-color: #838181;
  }
  
  .custom-table.dark-mode tr:nth-child(even) {
    /* Alternate row color in dark mode */
    background-color: #444;
  }
  
  .custom-table.dark-mode th,
  .custom-table.dark-mode td {
    border-color: #666;
  }
  
  /* Adding hover effect */
  .custom-table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  