/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Screens/Carousel.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* Styles for the Carousel with the custom-carousel class */
.custom-carousel .carousel-item img {
    max-height: 100vh;
    width: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* For screens with width less than 768px (smaller devices) */
  @media (max-width: 767px) {
    .custom-carousel .carousel-item img {
      max-height: 50vh;
    }
  }
  
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Components/NrityaCard.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.nritya-card {
    max-height: 250rem;
    background: #ffffff !important;
    color: #000;
    box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    border-radius: 0.75rem;
  }


  .nritya-card-extra-dark {
    max-height: 250rem;
    color: #070707 !important;
    background: #ffffff;
    box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: none;
    border-radius: 0.75rem;
  }
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Screens/TableView.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.custom-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden; 
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: 1px solid #666 !important;
  }

  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #000000;
    color: white;
    font-weight: bold;
    text-align: left;
  }
  
  .custom-table.dark-mode {
    background-color: black;
    color: white;
  }
  .custom-table.dark-mode:hover {
    border-color: #36454F
  }

  .custom-table.dark-mode th {
    background-color: #838181;
  }
  
  .custom-table.dark-mode tr:nth-child(even) {
    background-color: #444;
  }

  .custom-table.dark-mode tr:nth-child(odd) {
    background-color: #212121;
  }


  .custom-table.dark-mode tr:nth-child(even):hover  {
    background-color: #36454F;
  }

  .custom-table.dark-mode tr:nth-child(odd):hover  {
    background-color: #36454F;
  } 
  
  .custom-table.dark-mode th,
  .custom-table.dark-mode td {
    border-color: #666;
  }
  
  /* Adding hover effect */
  .custom-table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }


.horizontal-scroll-wrapper-table {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0px 0; 
  height: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.horizontal-scroll-wrapper-table::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-btn-cell:hover {
  background-color: #CBC3E3 !important;
}

.custom-button {
  border: none;
  background: none; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #CBC3E3 !important;
}


/*!************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Common.css ***!
  \************************************************************************************************************************************************************************************************************************************************************/

.genericHoverEffect {
    transition: transform 0.3s ease; 
  }

.genericHoverEffect:hover {
  transform: translate(0.4rem, -0.2rem); 
}


.simple-text {
  font-size: 16px;
  color: #0c0c0c; 
}

.dark-mode-simple-text {
  font-size: 16px;
  color: #fff; 
}

.simple-text-big {
  font-size: 24px;
  color: #333;
}

.dark-mode-simple-text-big {
  font-size: 24px;
  color: #fff;
}
.headerArea{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.userRating{
  margin-top: 16px;
}
.socialRatings{
  margin-bottom: 10px;
}
.custom-btn{
  text-transform: capitalize;
  border-radius: 20px;
  text-transform: capitalize;
  padding: 8px 14px;
  margin-top: 8px;
  border: 1px solid #666;
}

.custom-btn-wa {
  text-transform: capitalize;
  border-radius: 20px;
  text-transform: capitalize;
  padding: 8px 14px;
  margin-top: 8px;
  border: 1px solid #666;
  background-color: green;
}
.btn-position{
  justify-content: space-evenly;
}


/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Components/MagnifyImage.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* Gallary Image Hover START */
.gallery-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* Gallary Image Hover END */
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/Components/WorkshopCardSlider.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
h2 {
  color: 'white';
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  .cardSlider {
    display: inline-block;
  }

  .cardSliderData {
    display: inline-block;
  }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  .cardSlider {
    flex: 0 0 auto;
    margin-right: 3px;
  }

  .cardSliderData {
    flex: 0 0 auto;
    margin-right: 3px;
  }
}

.cardSlider {
  border: 2px solid rgb(255, 255, 255);
  max-width: 25rem;
  height: auto;
  cursor: pointer;
  background: rgb(250, 250, 250);
}

.cardSlider.dark {
  background: rgb(68, 67, 67);
  border: 2px solid rgb(7, 7, 7);
}

.cardSlider:hover {
  transform: translateX(0.3rem);
  transform: translateY(-0.2rem);
}


.cardSliderData {
  border: 2px solid rgb(255, 255, 255);
  max-width: 20rem;
  height: 22rem;
  cursor: pointer;
  background: rgb(250, 250, 250);
  overflow: hidden;
}

.cardSliderData .card-img  {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.cardSliderData .card-header {
  padding: 0; 
}

.cardSliderData .card-header .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 1rem 1rem 0 0;
}


.cardSliderData.dark {
  background: rgb(68, 67, 67);
  border: 2px solid rgb(7, 7, 7);
}

.cardSliderData:hover {
  transform: translateX(0.3rem);
  transform: translateY(-0.2rem);
}



.scrolling-wrapper, .scrolling-wrapper-flexbox {
  max-height: 30 rem;
  margin-bottom: 5px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.horizontal-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px 0; 
  min-height: 310px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


