
.genericHoverEffect {
    transition: transform 0.3s ease; 
  }
  
  .genericHoverEffect:hover {
    transform: translate(5px, 5px); 
  }

  .separator {
    height: 10px;
    background-color: red;
    border: none;
  }