/* Ensure navbar elements are centered on small screens */
@media (max-width: 768px) {
    .navbar-collapse {
      text-align: center;
    }
  
    .navbar-collapse .nav-item {
      margin-bottom: 1rem;
    }
  
    .navbar-collapse .btn {
      width: 100%; /* Make buttons take full width */
    }
  
    .location-dropdown-container {
      width: 100%; /* Make location dropdown container take full width */
    }
  }
  
  /* Align navbar elements to the right on large screens */
  @media (min-width: 769px) {
    .navbar-collapse {
      justify-content: flex-end;
    }
  
    .location-dropdown-container {
      width: auto; /* Make location dropdown container auto width */
    }
  }

.search-box {
  background-color: #ECE6F0 !important;
}

.search-box:hover {
  background-color: #DBD5E0 !important;
}

.btn-hover-purple-bg:hover {
  background-color: #735EAB !important;
}

.city-btn-hover-purple-bg:hover {
  color: white;
  background-color: #735EAB !important;
}

.city-btn-hover-purple-bg[aria-selected="true"] {
  color: white;
  background-color: #735EAB !important;
}
