.nritya-card {
    max-height: 250rem;
    background: #fff;
    color: #000;
    transition: box-shadow 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 0.75rem;
  }
  
  .nritya-card-dark {
    border: 1px solid whitesmoke;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    background: #36454F;
    color: #ffffff;
    border: none;
  }
  
  .nritya-card-dark:hover {
    box-shadow: 0 0.1em 0.1em 0 whitesmoke, 0 0 1em rgba(255, 255, 0, 0.7);
    background: #36454F;
    color: #ffffff;
    border-color: #36454F;
  }
  
  .nritya-card-light {
    border: none;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  }
  
  .nritya-card-light:hover {
    box-shadow: 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.2), 0 0 1em rgba(91, 91, 84, 0.7);
  }

  .circular-bubble {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .circular-bubble-dark {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }