.nritya-card {
    max-height: 250rem;
    background: #fff;
    color: #000;
    transition: box-shadow 0.3s;
    cursor: pointer;
    border-color: #fff;
    border-radius: 0.75rem;
  }
  
  .nritya-card-dark {
    border: 1px solid whitesmoke;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    background: #36454F;
    color: #ffffff;
    border-color: #36454F;
  }
  
  .nritya-card-dark:hover {
    box-shadow: 0 1.5em 3em 0 whitesmoke, 0 0 1em rgba(255, 255, 0, 0.7);
    background: #36454F;
    color: #ffffff;
    border-color: #36454F;
  }
  
  .nritya-card-light {
    border: 1px solid #6c757d;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  }
  
  .nritya-card-light:hover {
    box-shadow: 0 1.5em 3em rgba(0, 0, 0, 0.2), 0 0 1em rgba(91, 91, 84, 0.7);
  }