.responsive-text {
    font-size: 1.0rem;
    text-align: center;
    margin: 4px 0;

    
  
    &.light {
      color: white;
    }
  
    &.dark{
      color: rgb(255, 255, 255);
    }
  
    @media (max-width: 1200px) {
      font-size: 0.85rem;
    }
  
    @media (max-width: 992px) {
      font-size: 0.75rem;
    }
  
    @media (max-width: 768px) {
      font-size: 0.6rem;
    }
  }
  