.green-row {
    background-color: rgb(180, 182, 180);
    color: white;
  }
  
  .yellow-row {
    background-color: rgb(240, 240, 141);
    color: black;
  }

  .Form.Control {
    padding: 0.02rem; /* Adjust the padding as needed */
  }
  
  